@mixin color-block($color-name, $color-var)
  .#{$color-name}
    @extend %heading-1

    background: $color-var
    text-align: center
    padding: 0.75em
    width: 9em
    height: 8em
    margin-right: 1.5em
    margin-bottom: 1.5em !important
    float: left
    font-size: 1em

    &:before, &:after
      content: "$#{$color-name}"
      display: block
      font-size: 0.75em;
      color: contrast-color($color-var, #222, white)
      text-shadow: 1px 1px 0 contrast-color(contrast-color($color-var, #222, #fff), #fff, #222)

    &:after
      content: "#{$color-var}"
