$colors: (
  white: $white,
  black: $black,
  red-1: $red-1,
  red-2: $red-2,
  red-3: $red-3,
  orange-1: $orange-1,
  orange-2: $orange-2,
  orange-3: $orange-3,
  yellow-1: $yellow-1,
  yellow-2: $yellow-2,
  yellow-3: $yellow-3,
  green-1: $green-1,
  green-2: $green-2,
  green-3: $green-3,
  blue-1: $blue-1,
  blue-2: $blue-2,
  blue-3: $blue-3,
  purple-1: $purple-1,
  purple-2: $purple-2,
  purple-3: $purple-3,
  gray-1: $gray-1,
  gray-2: $gray-2,
  gray-3: $gray-3,
  text-color: $text-color,
  link-color: $link-color,
  link-hover-color: $link-hover-color,
  border-color: $border-color,
  form-element-background: $form-element-background,
  form-element-border: $form-element-border,
  form-element-color: $form-element-color,
  form-element-active-border: $form-element-active-border,
  form-element-active-color: $form-element-active-color
);

