$include-normalize: true
$include-elements: true

@import '../index'

@import 'contrast'
@import 'color-block'
@import 'config'

h1, h2, h3, section
  clear: both

  &:before,
  &:after
    content: " "
    display: table
  
  &:after
    clear: both

.hide
  display: none

%typography-metadata
  float: none !important
  font-weight: normal
  font-family: monospace
  color: #333
  font-size: 12px

.type-specimens
  .element
    @extend %typography-metadata

    display: inline-block
    width: 36px
    padding-right: 24px

  .specs
    @extend %typography-metadata

    padding-left: 24px
  .ems
    @extend %typography-metadata
    
    color: #666

@each $color-name, $color-var in $colors
  @include color-block($color-name, $color-var)
