doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title
      block title
        = title || ''

    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='shortcut icon' href='/favicon.ico')

    link(rel='stylesheet' href='/css/styles.css')
    block css
      - if(css)
        != css

  body
    main(role='main')
      block content
        != yield

    block javascript
      - if(javascript)
        != javascript

