section
  h1 Form elements

  div
    input(type='text' placeholder='Type something here...')

  div
    input(type='checkbox' value='1')
    input(type='checkbox' value='2' checked)
    input(type='checkbox' value='3')

  div
    input(type='radio' value='1')
    input(type='radio' value='2' checked)
    input(type='radio' value='3')

  div
    button Button

  div
    a.button A.button

  div
    input(type='button' value='Input')
  
  div
    input(type='submit' value='Submit')


section.type-specimens
  h1 Typography

  h1(title="@extend %heading-1;")
    span.element H1
    | Helvetica Neue 
    span.specs

  h2(title="@extend %heading-2;")
    span.element H2 
    | Helvetica Neue 
    span.specs

  h3(title="@extend %heading-3;")
    span.element H3 
    | Helvetica Neue 
    span.specs

  h4(title="@extend %heading-4;")
    span.element H4 
    | Helvetica Neue 
    span.specs

  h5(title="@extend %heading-5;")
    span.element H5 
    | Helvetica Neue 
    span.specs

  h6(title="@extend %heading-6;")
    span.element H6 
    | Helvetica Neue 
    span.specs

  p(title="Just use a paragraph tag")
    span.element p
    | Helvetica Neue
    span.specs

  hr

  h1 This is a headline!
  h2 A smaller sub-head.

  p Paragraph! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  p
    span.small Small copy, perhaps legal text...

  p
    a A link to somewhere else


section.hide(style='position: relative; height: 10em')
  #flash-message
    #alert
      Lorem ipsum.
    #notice
      Lorem ipsum.
    #warning
      Lorem ipsum.

section.hide
  .alert-success
    p Lorem ipsum.

  .alert-warning
    p Lorem ipsum.

  .alert-danger
    p Lorem ipsum.

  .alert-info
    p Lorem ipsum.


hr

h1 New color palettes

section
  h2 Abstract palette

  h3 Reds

  .red-1
  .red-2
  .red-3


  h3 Oranges

  .orange-1
  .orange-2
  .orange-3


  h3 Yellows

  .yellow-1
  .yellow-2
  .yellow-3


  h3 Greens

  .green-1
  .green-2
  .green-3


  h3 Blues

  .blue-1
  .blue-2
  .blue-3


  h3 Purples

  .purple-1
  .purple-2
  .purple-3


  h3 Grays

  .gray-1
  .gray-2
  .gray-3

  .white
  .black


section
  h2 Semantic palette

  // .info-color
  // .warning-color
  // .danger-color
  // .error-color
  // .success-color

  .text-color
  .link-color
  .link-hover-color
  .border-color
  .form-element-background
  .form-element-border
  .form-element-color
  .form-element-active-border
  .form-element-active-color

